beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
comtypes==1.1.10
Flask==1.1.2
gunicorn==20.1.0
h11==0.12.0
httpcore==0.12.3
httpx==0.17.1
idna==2.10
itsdangerous==1.1.0
jaraco.context==4.0.0
Jinja2==2.11.3
MarkupSafe==1.1.1
more-itertools==8.8.0
playsound==1.2.2
pypiwin32==223
pyttsx3==2.90
pywin32==300
requests==2.25.1
rfc3986==1.5.0
sniffio==1.2.0
soupsieve==2.2.1
SpeechRecognition==3.8.1
tekore==3.7.1
urllib3==1.26.4
Werkzeug==1.0.1
wikipedia==1.4.0
wolframalpha==5.0.0
xmltodict==0.12.0
